In [1]:
name = 'mike'
print(name)

mike

In [2]:
type(name)

str

In [3]:
name = input('enter your name: ')
print('welcome', name)

enter your name: Satyajit Pattnaik
welcome Satyajit Pattnaik

In [4]:
name

'Satyajit Pattnaik'

In [5]:
type(name)

str

In [6]:
a = True
b = 'True'

In [7]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

#### Typecasting

In [ ]:
accuracy: 91.2%

In [8]:
acc = 91.2
print(acc)
print(type(acc))

91.2
<class 'float'>

In [9]:
int(acc)

91

In [10]:
var = 2
type(var)

int

In [11]:
var1 = float(var)
type(var1)

float

In [12]:
var1

2.0

In [13]:
var = 2.9
var_int = int(var)
print(var_int)

2

In [14]:
int(var)

2

In [15]:
var = 2
new_var = str(var)

In [16]:
new_var

'2'

In [17]:
type(new_var)

str

In [18]:
int("2")

2

In [23]:
var_new = "2.5"

In [24]:
type(var_new)

str

In [27]:
int(float(var_new))

2

In [21]:
# Convert a float value inside a string variable to Integer

int("2.2")

ValueError: invalid literal for int() with base 10: '2.2'

In [19]:
int(float("2.5"))

2

In [37]:
string_var = "2.5"
int(string_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [40]:
string_var = "2.5"
int_var = int(string_var)
print(int_var)

ValueError: invalid literal for int() with base 10: '2.5'

In [41]:
string_var = "2.5"
float_var = float(string_var)
int_var = int(float_var)
print(int_var)

2

In [43]:
string_var = "3.1" 
int_var = int(float(string_var))
print(int_var)

3

In [22]:
float("2.2")

2.2

In [23]:
str(1)

'1'

In [ ]:
# string to int for float number

In [28]:
string_var='ABCDEFGH'

In [29]:
string_var = 'HELLO'


[H E L L O]
H --> 0th index. -5
E --> 1st index. -4
L --> 2nd. -3
L --> 3rd. -2
O --> 4th index, -1st index

In [30]:
string_var = 'HELLO'
YELLO

In [37]:
string_var[0]

'H'

In [38]:
string_var[0]='Y'

TypeError: 'str' object does not support item assignment

In [31]:
string_var[0]

'H'

In [32]:
string_var[-5]

'H'

In [34]:
string_var[0] = 'Y'

TypeError: 'str' object does not support item assignment

In [39]:
print(string_var)

HELLO

In [40]:
print(string_var[2])

L

In [41]:
string_var[2]='t'

TypeError: 'str' object does not support item assignment

In [53]:
string_var='ABtDEFGH'
string_var

'ABtDEFGH'

In [54]:
type(string_var)

str

In [ ]:
x = 3.5
print(float(int(x)))

In [56]:
x=3.5
int(x)
float(int(x))

3.0

In [36]:
Satyajit = 5

In [39]:
name = 'Saurav'
print(name)

Saurav

In [42]:
str1 = 'HELLO'

In [ ]:
YELLO

In [44]:
str1[0] = 'Y'

TypeError: 'str' object does not support item assignment

In [45]:
str1 = 'YELLO'

In [46]:
str1

'YELLO'