## Map, Reduce & Filter

#### Area of a circle

In [3]:
import math

def area(r):
    return math.pi*(r**2)

radii = [1,2,3,4,5]

areas = []

for r in radii:
    a = area(r)
    areas.append(a)

In [4]:
areas

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

In [5]:
#### map(f, iterable)

In [6]:
map(area, radii)

In [7]:
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

#### Convert Celcius scale to Farheneit 

#### F = 9/5*C + 32

In [8]:
temps = [("Mumbai", 35), ("Berlin", 12), ("Tokyo", 25), ("Hong Kong", 31), ("Sydney", 30)]

In [9]:
type(temps)

list

In [10]:
len(temps)

5

In [11]:
cel_to_f = lambda data: (data[0], (9/5)*data[1]+32)

In [12]:
# map(f, iterable)

map(cel_to_f,temps)

In [13]:
list(map(cel_to_f,temps))

[('Mumbai', 95.0),
 ('Berlin', 53.6),
 ('Tokyo', 77.0),
 ('Hong Kong', 87.80000000000001),
 ('Sydney', 86.0)]

#### Filter Function - filters out the data 
#### filter(f, data)

In [14]:
import statistics

data = [1,2,3,4,5,9,12,4,2,9]

In [15]:
avg = statistics.mean(data)
print(avg)

5.1

In [16]:
filter(lambda x: x>avg, data)

In [17]:
list(filter(lambda x: x>avg, data))

[9, 12, 9]

In [18]:
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

In [20]:
list(filter(lambda x:x>10,areas))

[12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483]

#### Getting rid of the null/NaN values

In [21]:
name = ["Satyajit", "Neha", 0, 0.0, "", "Namrata"]

In [22]:
filter(None, name)

In [23]:
list(filter(None, name))

['Satyajit', 'Neha', 'Namrata']

In [25]:
number = [12, 19, 21, 0, 0.0, 0 , "", 11, 5, 9]

In [26]:
filter(None, number)

In [27]:
list(filter(None, number))

[12, 19, 21, 11, 5, 9]

#### Reduce Function
#### reduce(f, data)

In [28]:
from functools import reduce

In [29]:
#Multiply all the items in a list

data = [1,2,3,4,5]

In [30]:
multiplier = lambda x, y: x*y

In [31]:
reduce(multiplier, data)

120

In [35]:
data = [1,2,3,4,5]

In [36]:
prev = data[0]

for i in data:
    i = i*prev
    prev = i

print(i)

120

In [37]:
#Sum all the items in a list

data = [1,2,3,4,5]

In [38]:
sumop = lambda x, y: x+y

In [39]:
reduce(sumop, data)

15